.contact-us
  form 
    input placeholder="Name" type="text" id="customerName" name="customerName" required=""
    input placeholder="Email" type="email" id="customerEmail" name="customerEmail"
    input placeholder="Phone" type="tel" id="customerPhone" name="customerPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
    button  id="customerOrder" SIGN UP