.signup-form
  form action=""
    fieldset.email-card
        h1 Anthropologie
        h2 Enjoy
        h1 Free Shipping
        h2 on your next order
        input type="email" placeholder="Email Address"
        br
        button type="button" class="next action-button" value="Next"  Continue →
        br
        button type="button" No, Thanks
    fieldset.phone-card
        h1 Anthropologie
        h2 Enjoy
        h1 Free Shipping
        h2 on your next order
        p By signing up via text, you agree to receive recurring automated marketing text messages from Anthropologie at the cell number used when signing up. Consent is not a condition of any purchase. Msg & data rates may apply. 
        input type="text" placeholder="Mobile Number"
        button type="button" 
          | GET FREE SHIPPING NOW
          br
          | when you signup for email and text