.work-with-us
  .form
    h1 ADEPT
    h2 We love people! 
    h2 Reach out and let's make something.
    form
      label for="name" FIRST AND LAST NAME
      input#name type="text" 
      label for="company-name" POSITION HELD
      input#company-name type="text"
      label for="work-email" WORK EMAIL
      input#work-email type="text"
      label for="project-idea" HOW CAN WE WORK TOGETHER
      textarea#project-idea rows="4"
      button type="button" SUBMIT
  .illustration
    img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/flame-education-1.png"
    .link-rollup
      h2 Partner
      h1 partner@adeptnfk.com
      h2 Feature Us
      h1 feature@adeptnfk.com
      h2 Anything Else
      h1 hello@adeptnfk.com