.cmyk
  .c
    h1 C
    .image
      .cyan
        img src="https://picsum.photos/300/200"
  .m
    h1 M
    .image
      .magenta
        img src="https://picsum.photos/300/200"
  .y
    h1 Y
    .image
      .yellow
        img src="https://picsum.photos/300/200"
  .k
    h1 K
    .image
        img src="https://picsum.photos/300/200"