.rsvp-container
  .rsvp-inner-container
    h1 RSVP
    h2 Kindly reply by July 11th, 2020
    form
      fieldset.full-width
        label Name(s)
        input type="text" 
        input type="text"
        input type="text"
      fieldset.half-width
        label Total guests: 
        input type="text"
      fieldset.checkbox
        <label class="container">Yes, we'll be there! 
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      fieldset.checkbox  
        <label class="container">Sorry, we can't make it. 
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      fieldset.full-width
        label Dietary requirements:
        input.diet type="text"
      button type="button"
        i.far.fa-paper-plane
      